* { /* Toggles all elements */
	-webkit-box-sizing: border-box; /* This provides compatibility for safari web browsers */
	-moz-box-sizing: border-box; /* This provides compatibility for mozilla web browsers */
	-ms-box-sizing: border-box; /* This provides compatibility for IE web browsers */
	box-sizing: border-box; /* This makes box changes work for both border & padding properties */
}	
body {
	background-image: url("../pictures/spider.jpg");
	background-color: blue;
	background-repeat: no-repeat;
}
.grid {
	margin: 0 auto; /* Centers children elements on the page (for large screens) */
}
.container {
}
.row {
	width: 100%; /* Rows go across the entire span of the page */
	display: flex; /* Enables flexing for all direct children elements */
	flex-wrap: wrap; /* Multi-line wrapping allowed */
}
.col-1 {
	width: 8.33%;
}
.col-2 {
	width: 16.66%;
}
.col-3 {
	width: 25%;
}
.col-4 {
	width: 33.33%;
}
.col-5 {
	width: 41.66%;
}
.col-6 {
	width: 50%;
}
.col-7 {
	width: 58.33%;
}
.col-8 {
	width: 66.66%;
}
.col-9 {
	width: 75%;
}
.col-10 {
	width: 83.33%;
}
.col-11 {
	width: 91.66%;
}
.col-12 {
	width: 100%;
}